# {{ ansible_managed }}

global
{% include 'global.cfg.j2' %}

defaults
{% include 'defaults.cfg.j2' %}

{% include 'userlist.cfg.j2' %}

{% include 'resolvers.cfg.j2' %}

{% include 'program.cfg.j2' %}

{% include 'listen.cfg.j2' %}

{% include 'cache.cfg.j2' %}

{% include 'frontend.cfg.j2' %}

{% include 'backend.cfg.j2' %}

{% if haproxy_k8s_enable is defined and haproxy_k8s_enable %}
# Additional Kerberos Load Balancer Service Backends
{% include 'k8s.cfg.j2' %}
{% endif %}