# {{ ansible_managed }}

global
{% include 'global.cfg.j2' %}

defaults
{% include 'defaults.cfg.j2' %}

{% include 'userlist.cfg.j2' %}

{% include 'resolvers.cfg.j2' %}

{% include 'program.cfg.j2' %}

{% include 'listen.cfg.j2' %}

{% include 'cache.cfg.j2' %}

{% include 'frontend.cfg.j2' %}

{% include 'backend.cfg.j2' %}

{% if haproxy_k8s_enable is defined and haproxy_k8s_enable %}
# Additional Kerberos Load Balancer Service Backends
{% raw %}
{% for backend in backends %}
backend {{ backend.name }}
    mode {{ backend.mode }}
    balance {{ backend.balance }}
    {% for key, value in backend.labels %}
    {% if 'haproxy_backend_option_' in key %}
    {{ value }}
    {% endif %}
    {% endfor %}
    {% for server in backend.servers -%}
    {{ server }}{% for key, value in backend.labels %}{% if 'haproxy_server_config_' in key %} {{ value }}{% endif %}{% endfor %}
    {% endfor %}

{% endfor %}
{% endraw %}
{% endif %}