apiVersion: v1
kind: Config
clusters:
- cluster:
    certificate-authority-data: {{ haproxy_ingress_ca }}
    server: {{ haproxy_ingress_cluster_server }}
  name: {{ haproxy_ingress_cluster_name }}
contexts:
- context:
    cluster: {{ haproxy_ingress_cluster_name }}
    user: haproxy-sa
  name: haproxy-context
current-context: haproxy-context
users:
- name: haproxy-sa
  user:
    token: {{ haproxy_ingress_token }}
